@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: Kanit;
    color:midnightblue
}

h1{
    text-align: center;
    letter-spacing: 4px;
    font-size: 4em;
}

nav li {
    font-size: 1.2em;
    line-height: 2.5em;
    height: 2.5em;
    display: inline-block;
    margin-left: 18%;
}

div li {
    font-size: 1.2em;
    line-height: 2.5em;
    height: 2.5em;
    display: list-item;
    margin-top: 10%;
}

li {text-align: center;}

figure img {
    height: 37.5em;
    max-width: 75%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

img{
    height: 37.5em;
    max-width: 75%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav{
    text-transform:uppercase;
    letter-spacing: 4px;
}

h2{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-size: 2em;
}

section h2{
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-size: 1.5em;
}

.toprow{
    width: 20rem;
    border: 4px solid whitesmoke;
    background-color: midnightblue;
    color: whitesmoke;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 15em;
    float: left;
    padding: 30px 0 0 10px;
    margin: 5px;
    overflow: auto;
}

.bottomrow{
    width: 20rem;
    border: 4px solid midnightblue;
    background-color: whitesmoke;
    color: midnightblue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 15em;
    float: left;
    padding: 30px 0 0 10px;
    margin: 5px;
    overflow: auto;
}

h3{
    color: goldenrod;
    text-align: center;
    font-size: 30px;
}

.blue{
    color: midnightblue;
    font-size: 2em;
}

.story{
    margin: 5px;
    border: 0.25em solid goldenrod;
    background-color: midnightblue;
    font-size: 1.34em;
    text-align: center;
    max-width: 20em;
    color: white;
    padding: 10px;
}

.schedule{
    margin: 5px;
    border: 0.35em solid midnightblue;
    background-color: goldenrod;
    font-size: 1.1em;
    text-align: center;
    max-width: 20em;
    color: white;
    padding: 10px;
    float: left;
}

.schedule p{
    color: midnightblue;
}

.signup{
    margin: 5px;
    border: 0.25em solid goldenrod;
    background-color: midnightblue;
    font-size: 1.2em;
    max-width: 20em;
    text-align: center;
    color: goldenrod;
    padding: 10px;
    max-height: fit-content;
}

.strong{
    color: goldenrod;
    font-size: 2em;
}

article h3{
    color: midnightblue;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

footer{
    height: 150px;
    text-align: center;
    
}
.socials li{
    display: inline;
}

.socials i{
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: goldenrod;
}

ul p{
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    padding: 10px;
}

.flex-item {
    flex: 1;
    margin: 10px;
    box-sizing: border-box; 
    max-width: 18.75em;
    min-width: 9.375em; 
    text-align: center; 
}

.btn{
    font-size: 18px;
    font-weight: bold;
    background: goldenrod;
    width: 160px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px white;
}

#origin{
    margin: 0 auto;
    width: 75%;
    text-align: center;
    
}

.h2tc{
    font-size: 3.5em;
    text-align:center;
    color: goldenrod;
}

.tcoders{
    max-width: 20em;
    max-height: 30em;
    float: left;
    border-radius: 10px;
    margin-right: 1em;
}

.text-box{
    color: midnightblue;
}

.text-box h2{
    font-size: 3.6em;
}

.text-box p {
    font-size: 10em;
}

.cover{
    display: flex;
}

.box{
margin: 1em;
height: 25em;
box-shadow: -1px 0 10px midnightblue;
align-items: center;
justify-content: center;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
overflow: auto;
padding: 30px 0 0 10px;
float: left;
}

.box img{
width: 20em;
height: 20em;
}

h4{
    text-align: center;
}

.caption{
    text-align: center;
    font-size: 2em;
    background-color: midnightblue;
    color: white;
}

#photo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

/* media queries*/

@media screen and (max-width:934px) {
    #photo {column-count: 2;}
}

@media screen and (max-width:800px){
    #photo{
        column-count: 1;
    }
    
}

@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column; 
    }
}